* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.content_wrapper {
  padding-top: 3rem;
}
.city_whether {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  /* media */
}
.whether_details {
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.whether_icon {
  margin-top: 10px;
  margin-right: 30px;
  height: 70%;
  width: 49%;
}
.temperature {
  font-size: 6rem;
}
.temp_details {
  margin-left: 10px;
  margin-right: 10px;
  height: 6rem;
  background-color: rgba(80, 162, 195, 0.571);
  width: 6rem;
}
.whether_others {
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.measure {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
.condition {
  text-align: center;
  margin-top: 0.5rem;
}
.city {
    margin-left: 1.5rem;
  }
  .date {
    margin-left: 1.5rem;
  }
@media screen and (min-width: 800px) {
  .city {
    margin-left: 10rem;
  }
  .date {
    margin-left: 10rem;
    margin-top: 4px;
    margin-bottom: 0;
  }
  .city_whether {
    margin-bottom: 4rem;
  }
  .content_wrapper {
    height: 88vh;
  }
  .whether_details {
    border-right: 3px solid black;
  }
}
@media screen and (max-width: 700px) {
  .whether_others {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
  }
  .whether_details {
    border-bottom: 3px solid black;
  }
}
